*{
    padding: 0;
    margin: 0;
    font-size: inherit;
    box-sizing: border-box;
    outline: none;

}
a {
    text-decoration: none;
    color: inherit;
}
h1, h2, h3, h4, h5, h6, p, a, span{
    font-family: 'Oswald', sans-serif;
}
.container{
    display: flex;
    max-width: 840px;
    margin: auto;
    align-items: center;
}
section h1{
    font-size: 30px;
    margin: 30px 0;
}
.bgr{
    padding: 25px 0;
    margin: 4px 0;
}
.bgr_blac{
    background-color: black;
}
.bgr_gray{
    background-color: #c4c4c4;
}
.time{
    font-size: 48px;
    font-weight: bold;
    color: #fff;
}
section h2{
    font-size: 18px;
    color: white;
    margin-left: 40px;
    text-transform: uppercase;
}

.container_1{
    display: flex;
    max-width: 840px;
    margin: auto;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 25px 0;
}
.squared{
    width: 210px;
    height: 210px;
    background-color: #000;
}
section h3{
    font-size: 40px;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 30px;
}
.text{
    margin-left: 38px;
    width: 40%;
    margin-top: 30px;
}
.text h4{
    font-size: 24px;
    margin-bottom: 20px;
}
.text p{
    font-size: 18px;
    font-weight: bold;
}
.container_3{
    max-width: 840px;
    margin: 0 auto 26px;
    display: flex;
}
.container_3 .block:first-of-type{
    margin-left: 145px;
}
.container_3 .block:nth-child(2){
    margin-left: 97px;
}
.container_3 .block:last-of-type{
    margin-left: 98px;
}
.container_2{
    max-width: 840px;
    margin: 0 auto 63px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.container_2:before{
    content: "";
    display: block;
    height: 1px;
    background-color: #000;
    width: 730px;
    position: absolute;
    top: 62px;
    left: 62px;
    z-index: -1;
}
.container_2 .block, .container_3 .block{
    width: 166px;
}
.container_2 span{
    font-weight: bold;
    font-size: 24px;
    margin-top: 45px;
}
.container_2 .block_squared{
    background-color: #000;
    height: 120px;
    width: 120px;
}
.container_2 h4, .container_3 h4{
    font-size: 24px;
    margin: 28px 0 23px;
}
.container_2 p, .container_3 p{
    font-size: 18px;
}
.container_4{
    max-width: 840px;
    margin: 0 auto 60px;
    display: flex;
    align-items: flex-start;
}
.block_img{
    height: 210px;
    width: 210px;
    padding: 95px 15px;
    border: 1px solid #000;
}
.container_4 span{
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
    margin: 32px 36px 0 12px;
}
.container_4 h5{
    margin: 32px 0 20px;
    font-size: 24px;
    line-height: 24px;
}
.container_4 p{
    font-size: 18px;

}